.chat-page {
  position: relative;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--second-bg-color);
  overflow: hidden;
}

.chat-page .auth-error-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  background-color: var(--error-container-bg-color);
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  display: none;
}

.auth-error-container h2 {
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-color);
}

.auth-error-container .error-logout-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

/* CHAT SIDEBAR */

.chats-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 35%;
  height: 100dvh;
  /* background-color: var(--second-color); */
  background-image: linear-gradient(to bottom, #ff0066, #863eac);
  /* background-image: linear-gradient(to bottom, #e60d64, #863eac); */
  transition: all 0.5s ease 0s;
  z-index: 11;
}

.chats-sidebar.active {
  left: -35%;
}

.chats-sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 53px;
  height: 8%;
  padding: 10px 30px;
  /* background-color: var(--our-user-header-color); */
}

.chats-sidebar-header .our-user-image {
  position: relative;
  min-width: 45px;
  width: 47px;
  height: 47px;
  border: 1px solid var(--bg-color);
  border-radius: 100%;
  overflow: hidden;
}

.chats-sidebar-header .our-user-information {
  margin-left: 10px;
}

.user-information .user-name {
  font-size: 16px;
}

.user-information .user-email {
  font-size: 12px;
}

.all-chats {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: auto;
}

.chats-list .user {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.chats-list .user:hover {
  background-color: var(--second-color-hover);
}

.chats-list .user .user-image {
  position: relative;
  width: 47px;
  height: 47px;
  border: 1px solid var(--bg-color);
  border-radius: 100%;
  overflow: hidden;
}

.chats-list .user .user-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chats-list .user .bell {
  position: relative;
  width: 16px;
  height: 16px;
  margin-left: auto;
  border-radius: 50%;
}

.chats-list .user .bell img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.chats-sidebar-header .our-user-image img {
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.is-selected-user-online,
.is-our-user-online,
.is-user-online {
  position: relative;
}

.is-selected-user-online::after,
.is-our-user-online::after,
.is-user-online::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #c5d2bb;
  border: 1px solid var(--bg-color);
}

.header-inf.active .is-selected-user-online::after {
  background-color: #92ff41;
}

.chats-sidebar-header.active .is-our-user-online::after {
  background-color: #92ff41;
}

.user.active .is-user-online::after {
  background-color: #92ff41;
}

.chats-sidebar-header .our-user-information {
  width: 70%;
}

.user .user-information {
  width: 70%;
  margin-left: 10px;
}

.chat-footer {
  height: 10% !important;
  padding: 10px 30px !important;
}

.footer-information {
  justify-content: start !important;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logout-btn svg {
  width: 40px;
  height: 40px;
}

/* CHAT */

.chat-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 100dvh;
  background-color: var(--bg-color);
  transition: all 0.5s ease 0s;
}
.chat-container.active {
  width: 100%;
}

.chat-header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 53px;
  height: 8%;
  padding: 10px 40px;
  box-shadow: 0 0 14px -4px var(--box-shadow-color);
  background-color: var(--main-color);
  z-index: 10;
}

.header-inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  width: 100%;
  /* margin-left: auto; */
  /* margin-right: auto; */
  padding: 0 10px;
  transition: all 1s ease 0s;
}

.header-inf.active {
  padding: 0 50px;
}

.chat-header .selected-user-image {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  overflow: hidden;
}

.chat-header .selected-user-image img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.chat-header .selected-user-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 13%;
  height: 100%;
}

.chat-header .logo-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
}

.logo-box img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.chat-container .chat {
  position: relative;
  max-width: 975px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 92dvh;
  padding: 0 40px 20px 40px;
}

.chat .action-status {
  width: max-content;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 8px 15px;
  background-color: var(--action-status-color);
  border-radius: 10px;
  box-shadow: 0 0 14px -8px var(--box-shadow-color);
  opacity: 0;
  z-index: 13;
}

.action-animation {
  opacity: 1 !important;
}

@keyframes statusAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message-input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  background-color: var(--second-bg-color);
  box-shadow: 0 0 14px -10px var(--box-shadow-color);
  border-radius: 25px;
  z-index: 1;
}

.message-input-container .msg-button {
  position: relative;
  width: 10%;
  height: 90%;
  margin-right: 20px;
  background-color: var(--second-bg-color);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.msg-button img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="text"] {
  width: 90%;
  padding: 15px 10px;
  margin: 0 0 0 20px;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-line-color);
  transition: 0.5s;
}

.emoji-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 90%;
  margin-right: 10px;
  cursor: pointer;
}

.emoji-btn svg {
  width: 60%;
  height: 60%;
}

.emoji-selector {
  display: none;
  position: absolute;
  bottom: 55px;
  right: 0;
  width: 246px;
  height: 200px;
  background-color: var(--second-bg-color);
  box-shadow: 0 0 14px -10px var(--box-shadow-color);
  border-radius: 10px;
  overflow: auto;
  z-index: 13;
}

.emoji-selector ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 15px 15px;
  border-radius: 0;
}

.emoji-selector ul li {
  height: 30px;
  width: 30px;
  border-radius: 0.25rem;
  font-size: 1.4rem;
  cursor: pointer;
  user-select: none;
}

.emoji-selector input {
  margin: 0;
  width: 100%;
}

.emoji-selector.active {
  display: block;
}

.emoji-selector::-webkit-scrollbar {
  width: 4px;
}

.emoji-selector::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 20px;
}

.emoji-selector::-webkit-scrollbar-track {
  max-height: 90%;
  background-color: transparent;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  overflow: hidden;
}

.circles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--circles-color);
  bottom: -150px;
  animation: circlesAnimation 25s linear infinite;
}

.circles div:nth-child(1) {
  left: 19%;
  width: 67px;
  height: 67px;
  animation-delay: 1s;
}

.circles div:nth-child(2) {
  left: 70%;
  width: 23px;
  height: 23px;
  animation-delay: 5s;
  animation-duration: 16s;
}
.circles div:nth-child(3) {
  left: 43%;
  width: 43px;
  height: 43px;
  animation-delay: 4s;
}
.circles div:nth-child(4) {
  left: 64%;
  width: 67px;
  height: 67px;
  animation-delay: 0s;
  animation-duration: 20s;
}
.circles div:nth-child(5) {
  left: 35%;
  width: 30px;
  height: 30px;
  animation-delay: 3s;
}
.circles div:nth-child(6) {
  left: 10%;
  width: 110px;
  height: 110px;
  animation-delay: 7s;
}
.circles div:nth-child(7) {
  left: 7%;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
}
.circles div:nth-child(8) {
  left: 50%;
  width: 29px;
  height: 29px;
  animation-delay: 3s;
  animation-duration: 47s;
}
.circles div:nth-child(9) {
  left: 34%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles div:nth-child(10) {
  left: 74%;
  width: 92px;
  height: 92px;
  animation-delay: 2s;
  animation-duration: 14s;
}

/* MESSAGES */

.messages {
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
  z-index: 1;
}

.messages::-webkit-scrollbar {
  display: none;
}

.messages .message {
  display: flex;
  align-items: flex-start;
  max-width: 400px;
  height: auto;
  margin: 5px 0 5px 10px;
}

.message .u-image {
  position: relative;
  min-width: 43px;
  min-height: 43px;
  border-radius: 100%;
  overflow: hidden;
}

.u-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message .message-box {
  position: relative;
  min-width: 0;
  height: min-content;
  padding: 12px 20px;
  border-radius: 20px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--second-bg-color);
  box-shadow: 0 0 14px -10px var(--box-shadow-color);
  transition: 0.5s all;
}

.message-box p {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

.message-box .copy-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
  padding: 30px;
  width: 30px;
  height: 30px;
}

.copy-box .copy-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: var(--second-bg-color);
  box-shadow: 0 0 14px -10px var(--box-shadow-color);
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

.message-box:hover .copy-btn {
  display: flex;
}

.copy-btn svg {
  width: 20px;
  height: 20px;
}

/* SENDER & RECEIVER */

.sender {
  flex-direction: row-reverse;
  margin: 5px 10px 5px auto !important;
}

.sender .u-image {
  margin-left: 8px;
}

.sender .copy-box {
  left: -60px;
}

.sender .copy-btn {
  left: 15px;
}

.receiver .u-image {
  margin-right: 8px;
}

.weAreUser {
  display: none !important;
}

.selected {
  background-color: var(--second-color-selected);
}

.first-message {
  position: relative;
  border-top-left-radius: 0 !important;
}

.first-message-sender {
  position: relative;
  border-top-right-radius: 0 !important;
}

.last-message {
  border-bottom-left-radius: 20px !important;
}

.messages .sender .last-message-sender {
  border-bottom-right-radius: 20px !important;
}

.sender .message-box {
  border-radius: 20px;
  border-bottom-right-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.first-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  width: 15px;
  height: 15px;
  background-image: url(../assets/images/message-tail.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.first-message-sender::before {
  content: "";
  position: absolute;
  top: 0;
  right: -14px;
  width: 15px;
  height: 15px;
  background-image: url(../assets/images/sender_message-tail.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* BURGER MENU */

.brg-menu {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
  cursor: pointer;
}

.back-btn svg {
  position: absolute;
  right: 4px;
  width: 40px;
  height: 40px;
}

.brg-menu svg {
  position: absolute;
  right: -8px;
  width: 40px;
  height: 40px;
}

.back-btn {
  display: none;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.3;
}

.back-btn.active {
  display: block;
}

/* FOOTER */

.footer-text h5 {
  color: var(--bg-color);
}
