* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
}

button:focus,
input:focus {
  outline: none;
}

li {
  list-style: none;
}

img {
  user-select: none;
}

label {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}

h1 {
}

h2 {
  font-size: 32px;
  color: var(--main-color);
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: var(--user-inf-color);
  text-transform: capitalize;
}

h4 {
  font-size: 13px;
  font-weight: 600;
  color: var(--user-subinf-color);
}

h5 {
  font-size: 14px;
  font-weight: 700;
  color: var(--main-color);
}

h6 {
  font-size: 12px;
  font-weight: 500;
  color: #000000ad;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

span {
  font-size: 14px;
  font-size: 600;
  color: var(--status-color);
}

.falling-container {
  position: absolute;
  top: -100%;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.falling-logo {
  position: relative;
  width: 140px;
  height: 60px;
}

.falling-logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.header-down {
  top: -100%;
  animation: mobileHeaderDownAnimation 2s cubic-bezier(0.6, 0.16, 0.31, 1.04);
  animation-delay: 2.2s;
}

:root {
  --bg-color: #f8f2f2;
  --second-bg-color: #ffffff;
  --button-active-bg-color: #d5d5d5;
  --button-hover-bg-color: #faf2f2;
  --box-shadow-color: #522f65;
  --border-line-color: #ffffff;
  --page-box-shadow-color: rgb(157 31 221);
  --main-color: #ff0066;
  --second-color: #863eac;
  --second-color-hover: #8030ac;
  --second-color-selected: #7b2ba7;
  --text-color: #000000;
  --circles-color: #ff34854d;
  --mobile-circles-color: #ff348533;
  --bell-color: #fee435;
  --user-inf-color: #f1e8f4;
  --user-subinf-color: #cc92eb;
  --chat-scrollbar-color: #e8bffd;
  --chats-scrollbar-color: #db5188;
  --status-color: #ffa3c8;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--chats-scrollbar-color);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--second-color);
}

@keyframes mobileHeaderDownAnimation {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes circlesAnimation {
  0% {
    opacity: 1;
    border-radius: 5%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 70%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

@keyframes mobileCirclesAnimation {
  0% {
    opacity: 1;
    border-radius: 5%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 70%;
    transform: translateY(-1000px) rotate(720deg);
  }
}

@keyframes fallingLogoAnimation {
  0% {
    top: -100%;
  }
  85% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes shakingLogoAnimation {
  0% {
    transform: rotate(0deg) translateY(-51%);
  }
  25% {
    transform: rotate(3deg) translateY(-48%);
  }
  50% {
    transform: rotate(-2deg) translateY(-51%);
  }
  75% {
    transform: rotate(3deg) translateY(-48%);
  }
  100% {
    transform: rotate(0) translateY(-50%);
  }
}

@keyframes upLogoAnimation {
  0% {
    top: 50%;
    transform: translateY(-50%);
  }
  25% {
    top: 50%;
    transform: translateY(-50%);
  }
  100% {
    top: -100%;
  }
}
