.registration-page-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px 40px;
  z-index: 999;
}

.registration-page-header .logo-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 70px;
  height: 50px;
  margin-right: auto;
}

.logo-box img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.registration-page {
  position: relative;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--second-bg-color);
  box-shadow: inset 0px 0px 200px 10px rgb(157 31 221);
  overflow: hidden;
}

.page-main-banner-container {
  width: 70%;
  display: flex;
  justify-content: center;
}

.page-main-banner-container .image-box {
  min-width: 630px;
  height: 530px;
  position: relative;
}

.image-box #reg_laptop_banner_img {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 500px;
  object-fit: cover;
  animation: talkBannerFloatingAnimation 6s ease-in-out infinite;
  z-index: 1;
}

.image-box #emg_banner_img {
  position: absolute;
  top: 190px;
  right: 75px;
  width: 140px;
  object-fit: cover;
  animation: emgBannerFloatingAnimation 5s ease-in-out infinite;
  z-index: 2;
}

.registration-container {
  position: relative;
  min-width: 474px;
  width: 30%;
  height: 100vh;
  padding: 10px 40px;
  background-color: var(--bg-color);
  box-shadow: 0 0 60px -5px var(--box-shadow-color);
  z-index: 1;
}

.registration-container .registration-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.registration-box h2 {
  text-align: end;
}

.registration-container .fake-side {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  right: -14px;
  transform: rotateZ(358deg);
  background-color: var(--bg-color);
  z-index: 1;
}

.registration-form {
  position: relative;
  margin: 27px 0 22px 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.registration-confirm-password-input,
.registration-email-input,
.registration-username-input,
.registration-password-input {
  display: flex;
  flex-direction: column;
}

.registration-password-input {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-helper {
  margin-bottom: 12px;
}

.subinput {
  position: relative;
  width: 48%;
  display: flex;
  flex-direction: column;
}

.show-password-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2px;
  min-width: 35px;
  height: 35px;
}

.show-password-box .show-password-btn {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.show-password-btn img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.registration-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.registration-links h6 {
  width: fit-content;
}

.registration-links h6:not(:last-child) {
  padding-bottom: 10px;
}

.registration-button {
  position: relative;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px;
  background-color: var(--second-bg-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 14px -10px var(--box-shadow-color);
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.registration-button:hover {
  background-color: var(--button-hover-color);
}

.registration-button:active {
  background-color: var(--button-active-bg-color);
}

input[type="password"],
input[type="text"] {
  padding: 12px 20px;
  margin: 8px 0;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-line-color);
  box-shadow: 0 0 14px -10px var(--box-shadow-color);
  transition: 0.5s;
}

#registration_password_input,
#registration_confirm_password_input {
  width: 100%;
}

input:focus {
  border-color: var(--main-color);
}

@keyframes talkBannerFloatingAnimation {
  0% {
    transform: translateY(-21px);
    filter: drop-shadow(0 60px 5px rgba(0, 0, 0, 0.1));
  }
  50% {
    transform: translateY(0);
    filter: drop-shadow(0 40px 4px rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: translateY(-21px);
    filter: drop-shadow(0 60px 5px rgba(0, 0, 0, 0.1));
  }
}

@keyframes emgBannerFloatingAnimation {
  0% {
    transform: translateY(0);
    filter: drop-shadow(0 30px 4px rgba(0, 0, 0, 0.2));
  }
  50% {
    transform: translateY(-15px);
    filter: drop-shadow(0 50px 5px rgba(0, 0, 0, 0.1));
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(0 30px 4px rgba(0, 0, 0, 0.2));
  }
}

.circles {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  overflow: hidden;
}

.circles div {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--circles-color);
  bottom: -150px;
  animation: circlesAnimation 25s linear infinite;
}

.circles div:nth-child(1) {
  left: 22%;
  width: 86px;
  height: 86px;
  animation-delay: 2s;
}

.circles div:nth-child(2) {
  left: 7%;
  width: 28px;
  height: 28px;
  animation-delay: 3s;
  animation-duration: 10s;
}
.circles div:nth-child(3) {
  left: 84%;
  width: 35px;
  height: 35px;
  animation-delay: 5s;
}
.circles div:nth-child(4) {
  left: 37%;
  width: 63px;
  height: 63px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles div:nth-child(5) {
  left: 63%;
  width: 43px;
  height: 43px;
  animation-delay: 1s;
}
.circles div:nth-child(6) {
  left: 90%;
  width: 100px;
  height: 100px;
  animation-delay: 0s;
}
.circles div:nth-child(7) {
  left: 50%;
  width: 120px;
  height: 120px;
  animation-delay: 7s;
}
.circles div:nth-child(8) {
  left: 22%;
  width: 21px;
  height: 21px;
  animation-delay: 13s;
  animation-duration: 40s;
}
.circles div:nth-child(9) {
  left: 30%;
  width: 15px;
  height: 15px;
  animation-delay: 0s;
  animation-duration: 35s;
}
.circles div:nth-child(10) {
  left: 85%;
  width: 90px;
  height: 90px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.mobile-circles {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mobile-circles .mobile-circle {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--mobile-circles-color);
  bottom: -150px;
}

.mobile-circles .mobile-circle:nth-child(1) {
  left: 77%;
  width: 70px;
  height: 70px;
  animation-delay: 0s;
}

.mobile-circles .mobile-circle:nth-child(2) {
  left: 8%;
  width: 25px;
  height: 25px;
  animation-delay: 3s;
  animation-duration: 14s;
}
.mobile-circles .mobile-circle:nth-child(3) {
  left: 56%;
  width: 27px;
  height: 27px;
  animation-delay: 6s;
}
.mobile-circles .mobile-circle:nth-child(4) {
  left: 40%;
  width: 62px;
  height: 62px;
  animation-delay: 0s;
  animation-duration: 20s;
}
.mobile-circles .mobile-circle:nth-child(5) {
  left: 59%;
  width: 30px;
  height: 30px;
  animation-delay: 1s;
}
.mobile-circles d.mobile-circleiv:nth-child(6) {
  left: 84%;
  width: 86px;
  height: 86px;
  animation-delay: 6s;
}
.mobile-circles .mobile-circle:nth-child(7) {
  left: 5%;
  width: 70px;
  height: 70px;
  animation-delay: 4s;
}
.mobile-circles .mobile-circle:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 12s;
  animation-duration: 45s;
}
.mobile-circles .mobile-circle:nth-child(9) {
  left: 34%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.mobile-circles .mobile-circle:nth-child(10) {
  left: 75%;
  width: 93px;
  height: 93px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.reg-up {
  top: 100%;
  animation: mobileRegistrationPageUpAnimation 2s
    cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation-delay: 2.2s;
}

@keyframes mobileRegistrationPageUpAnimation {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
