/* MEDIA WIDTH */

@media (max-width: 1024px) {
}

@media (max-width: 867px) {
  .logo-box {
    max-width: 45px;
    max-height: 45px;
  }

  .chats-sidebar {
    width: 100%;
  }

  .chats-sidebar.active {
    left: -100%;
  }

  .chats-list .user,
  .chats-sidebar-header {
    padding: 10px 15px;
  }

  .chat-container {
    width: 100%;
  }

  .chat-header {
    padding: 10px 20px;
  }

  .chat-container .chat {
    padding: 0 0 10px 0;
  }

  .header-inf.active {
    padding: 0 10px;
  }

  .messages::-webkit-scrollbar {
    display: none;
  }

  .messages .message {
    max-width: 300px;
  }

  .back-btn svg,
  .brg-menu svg {
    width: 35px;
    height: 35px;
  }

  .chat-footer {
    padding: 10px 15px !important;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 567px) {
  .messages .message {
    max-width: 265px;
  }

  .emoji-btn {
    width: 13%;
  }

  .emoji-btn svg {
    width: 70%;
    height: 70%;
  }

  .first-message-sender::before {
    display: none;
  }

  .receiver .u-image {
    margin-right: 5px;
  }

  .message-box .copy-box {
    padding: 20px;
  }
}

@media (max-width: 467px) {
  .message .message-box {
    padding: 6px 12px;
  }

  .message .u-image {
    margin-top: 3px;
    min-width: 30px;
    min-height: 30px;
  }
}

@media (max-width: 367px) {
}

/* MEDIA HEIGHT */
@media (max-height: 647px) {
  .chat {
    height: 88dvh !important;
  }
}

@media (max-height: 431px) {
}

@media (max-height: 377px) {
}
